.navbar {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: -50px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 180px;
  width: 250px;
  margin-top: 10px;
}

.nav-items {
  cursor: pointer;
  width: 100%;
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  justify-content: end;
  margin-bottom: 46px;
  font-size: medium;
  font-weight: 300;
  color: gray;
}

.heroimg {
  height: 350px;
  width: 800px;
}

.herodiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
